USE [master]
GO
/****** Object:  Database [LaserCutDB]    Script Date: 5/16/2026 7:45:32 PM ******/
CREATE DATABASE [LaserCutDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaserCutDB', FILENAME = N'C:\Users\khanh\LaserCutDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaserCutDB_log', FILENAME = N'C:\Users\khanh\LaserCutDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaserCutDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaserCutDB]
GO
/****** Object:  Table [dbo].[CINVCUTLBH]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CINVCUTLBH](
	[FACTORY] [varchar](10) NULL,
	[LABEL_ID] [varchar](50) NULL,
	[LABEL_TYPE] [varchar](50) NULL,
	[PACK_QTY] [float] NULL,
	[PACK_UOM] [varchar](10) NULL,
	[MAT_ID] [varchar](50) NULL,
	[MAT_DESC] [varchar](200) NULL,
	[PRINT_COUNT] [int] NULL,
	[FIRST_PRINT_USERID] [varchar](20) NULL,
	[FIRST_PRINT_TIME] [char](14) NULL,
	[LABEL_STATUS] [char](1) NULL,
	[CREATE_USER_ID] [varchar](20) NULL,
	[CREATE_TIME] [char](14) NULL,
	[MAT_LAYER] [int] NULL,
	[LABEL_LOCATION] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CINVCUTLBL]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CINVCUTLBL](
	[FACTORY] [varchar](30) NULL,
	[LABEL_ID] [varchar](30) NULL,
	[LABEL_TYPE] [varchar](20) NULL,
	[ORDER_ID] [varchar](30) NULL,
	[PACK_QTY] [float] NULL,
	[PRINT_COUNT] [int] NULL,
	[FIRST_PRINT_USER] [varchar](20) NULL,
	[FIRST_PRINT_TIME] [char](30) NULL,
	[CREATE_USER_ID] [varchar](20) NULL,
	[CREATE_TIME] [char](30) NULL,
	[MAT_ID] [varchar](50) NULL,
	[OK_QTY] [int] NULL,
	[NG_QTY] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CWIPCUTPRD]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CWIPCUTPRD](
	[FACTORY] [varchar](10) NULL,
	[PLANT_ID] [varchar](10) NULL,
	[WORK_DATE] [varchar](20) NULL,
	[SHIFT_TYPE] [varchar](10) NULL,
	[SHOP_CODE] [varchar](10) NULL,
	[LINE_CODE] [varchar](50) NULL,
	[RES_ID] [varchar](50) NULL,
	[MAT_ID] [varchar](50) NULL,
	[ORDER_ID] [varchar](50) NULL,
	[WORK_USER_ID] [varchar](20) NULL,
	[PROD_TYPE] [varchar](10) NULL,
	[OK_QTY] [int] NULL,
	[NG_QTY] [int] NULL,
	[TEST_QTY] [int] NULL,
	[LAYER] [int] NULL,
	[C_DIE] [int] NULL,
	[EA_PR] [int] NULL,
	[CMF_5] [varchar](50) NULL,
	[CMF_6] [varchar](50) NULL,
	[CREATE_USER_ID] [varchar](20) NULL,
	[CREATE_TIME] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CWIPORDBOM]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CWIPORDBOM](
	[FACTORY] [varchar](10) NULL,
	[ORDER_ID] [varchar](30) NULL,
	[P_MAT_ID] [varchar](50) NULL,
	[C_MAT_ID] [varchar](50) NULL,
	[BOM_QTY] [float] NULL,
	[SET_QTY] [float] NULL,
	[UNIT_CODE] [varchar](10) NULL,
	[CREATE_USER_ID] [varchar](20) NULL,
	[CREATE_TIME] [char](14) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[USER_ID] [nchar](10) NOT NULL,
	[USERNAME] [nchar](10) NULL,
	[PASSWORD] [nchar](10) NULL,
	[ROLE] [nchar](10) NULL,
	[EMAIL] [nchar](10) NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MRASRESDEF]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MRASRESDEF](
	[FACTORY] [varchar](10) NULL,
	[RES_ID] [varchar](50) NULL,
	[RES_DESC] [varchar](100) NULL,
	[RES_TYPE] [varchar](20) NULL,
	[RES_CMF_1] [varchar](20) NULL,
	[RES_CMF_6] [varchar](20) NULL,
	[RES_CMF_7] [varchar](20) NULL,
	[RES_CMF_9] [varchar](50) NULL,
	[RES_CMF_10] [varchar](50) NULL,
	[RES_CMF_11] [varchar](50) NULL,
	[RES_CMF_12] [varchar](50) NULL,
	[RES_CMF_18] [varchar](20) NULL,
	[RES_CMF_19] [varchar](20) NULL,
	[AREA_ID] [varchar](50) NULL,
	[SUB_AREA_ID] [varchar](50) NULL,
	[RES_LOCATION] [varchar](100) NULL,
	[CREATE_USE_ID] [varchar](20) NULL,
	[CREATE_TIME] [char](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MWIPDEFCOD]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MWIPDEFCOD](
	[CODE] [varchar](20) NULL,
	[CODE_DESC] [varchar](100) NULL,
	[DATA_1] [varchar](100) NULL,
	[DATA_3] [varchar](20) NULL,
	[OP] [varchar](20) NULL,
	[DESC_TYPE] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MWIPMATDEF]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MWIPMATDEF](
	[FACTORY] [varchar](10) NULL,
	[PLANT_ID] [varchar](10) NULL,
	[VSM] [varchar](10) NULL,
	[LOT_ID] [varchar](20) NULL,
	[LOT_DESC] [varchar](30) NULL,
	[MAT_ID] [varchar](30) NULL,
	[MAT_VER] [int] NULL,
	[OPER] [varchar](20) NULL,
	[QTY_1] [float] NULL,
	[LOT_TYPE] [char](1) NULL,
	[LOT_STATUS] [char](1) NULL,
	[CREATE_USER_ID] [varchar](20) NULL,
	[CREATE_TIME] [char](14) NULL,
	[QTY] [varchar](50) NOT NULL,
	[MAT_CMF_11] [varchar](50) NOT NULL,
	[MAT_CMF_2] [varchar](50) NOT NULL,
	[MAT_CMF_3] [varchar](50) NOT NULL,
	[MAT_MAPPING] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MWIPORDSTS]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MWIPORDSTS](
	[FACTORY] [varchar](10) NULL,
	[ORDER_ID] [varchar](50) NULL,
	[PLAN_QTY] [int] NULL,
	[PLANT_ID] [varchar](10) NULL,
	[OPERATION] [varchar](10) NULL,
	[ITEM_CD] [varchar](50) NULL,
	[MAT_ID] [varchar](50) NULL,
	[LINE_CD] [varchar](50) NULL,
	[WORK_DATE] [varchar](20) NULL,
	[MODEL] [varchar](50) NULL,
	[STYLE] [varchar](50) NULL,
	[RES_ID] [varchar](50) NULL,
	[PROD_TYPE] [varchar](20) NULL,
	[SSIZE] [varchar](10) NULL,
	[GENDER] [varchar](10) NULL,
	[UOM] [varchar](10) NULL,
	[PART] [varchar](10) NULL,
	[MACHINE_TYPE] [varchar](20) NULL,
	[PART_NAME] [varchar](100) NULL,
	[ORD_CMF_3] [varchar](200) NULL,
	[MAT_DESC] [varchar](500) NULL,
	[SUB_PLANT] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MWIPMATDEF] ADD  CONSTRAINT [DF_MWIPMATDEF_QTY]  DEFAULT (' ') FOR [QTY]
GO
ALTER TABLE [dbo].[MWIPMATDEF] ADD  CONSTRAINT [DF_MWIPMATDEF_MAT_CMF_1]  DEFAULT (' ') FOR [MAT_CMF_11]
GO
ALTER TABLE [dbo].[MWIPMATDEF] ADD  CONSTRAINT [DF_MWIPMATDEF_MAT_CMF_2]  DEFAULT (' ') FOR [MAT_CMF_2]
GO
ALTER TABLE [dbo].[MWIPMATDEF] ADD  CONSTRAINT [DF_MWIPMATDEF_MAT_CMF_3]  DEFAULT (' ') FOR [MAT_CMF_3]
GO
ALTER TABLE [dbo].[MWIPMATDEF] ADD  CONSTRAINT [DF_MWIPMATDEF_MAT_MAPPING]  DEFAULT (' ') FOR [MAT_MAPPING]
GO
ALTER TABLE [dbo].[MWIPORDSTS] ADD  CONSTRAINT [DF_MWIPORDSTS_SUB_PLANT]  DEFAULT (' ') FOR [SUB_PLANT]
GO
/****** Object:  StoredProcedure [dbo].[CANCEL]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CANCEL]  
				@Tab NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
          IF @Tab = 'TAB1'
		  BEGIN
          SELECT [FACTORY]
			  ,[LABEL_ID] QR_CODE
			  ,[LABEL_TYPE]
			  ,[PACK_QTY] QTY -- MATERRIAL QTY
			  ,[PACK_UOM]
			  ,[MAT_ID] MATERIAL
			  ,[MAT_DESC]
			  ,[PRINT_COUNT]
			  ,[FIRST_PRINT_USERID]
			  ,[FIRST_PRINT_TIME]
			  ,[LABEL_STATUS]
			  ,[CREATE_USER_ID]
			  ,[CREATE_TIME]
			  ,[MAT_LAYER] LAYER
			  ,[LABEL_LOCATION]
		FROM CINVCUTLBH ;
		
	END
    ELSE IF @Tab = 'TAB2'
	    BEGIN
         SELECT A.[FACTORY]
			  ,A.[LABEL_ID] QR_CODE
			  ,A.[LABEL_TYPE]
			  ,A.[PACK_QTY] QTY -- MATERRIAL QTY
			  ,A.[PACK_UOM]
			  ,A.[MAT_ID] MATERIAL
			  ,A.[MAT_DESC]
			  ,A.[PRINT_COUNT]
			  ,A.[FIRST_PRINT_USERID]
			  ,A.[FIRST_PRINT_TIME]
			  ,A.[LABEL_STATUS]
			  ,A.[CREATE_USER_ID]
			  ,A.[CREATE_TIME]
			  ,A.[MAT_LAYER] LAYER
			  ,A.[LABEL_LOCATION]
			  ,B.ORDER_ID
			  ,C.PLANT_ID AS "FCT"
			  ,C.SUB_PLANT AS "PLANT"
			  ,C.OPERATION AS "VSM"
			  ,C.MODEL AS "WORK_DATE"
			  ,C.STYLE AS "MODEL"
			  ,C.RES_ID AS "STYLE_NO"
			  ,C.PROD_TYPE
			  ,C.SSIZE
			  ,C.GENDER AS "SIZE"
			  ,C.UOM AS "GENDER"
			  ,C.PART AS "TYPE"
			  ,C.MACHINE_TYPE AS "PART_CODE"
			  ,C.PART_NAME AS "PART_NAME"
			  ,C.ORD_CMF_3 AS "LAM" 
		FROM CINVCUTLBH A
			 INNER JOIN CINVCUTLBL B ON A.FACTORY =B.FACTORY AND A.LABEL_ID = B.LABEL_ID
			 INNER JOIN MWIPORDSTS C ON B.FACTORY =C.FACTORY AND B.ORDER_ID = C.ORDER_ID
	 ;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[GetMRASRESDEF_ByResID]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMRASRESDEF_ByResID]
AS
BEGIN
    -- Câu lệnh SQL sẽ thực thi
    select RES_CMF_1 AS "FCT" 
		 ,RES_CMF_6 AS "SUB_PLANT"
		 ,SUB_AREA_ID AS "LINE_CODE"
		 ,RES_ID AS "RES_ID",
		 A.*
		from MRASRESDEF A
		;
END
GO
/****** Object:  StoredProcedure [dbo].[MANAGER_MACHINE]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[MANAGER_MACHINE]  -- <--- Thêm chữ dbo. cho chuẩn
AS
BEGIN
    SET NOCOUNT ON;
    
          SELECT RES_CMF_1 AS "FCT" 
		 ,RES_CMF_6 AS "SUB_PLANT"
		 ,SUB_AREA_ID AS "LINE_CODE"
		 ,RES_ID AS "RES_ID",
		 A.*
		FROM MRASRESDEF A
		;; 
END
GO
/****** Object:  StoredProcedure [dbo].[P_CANCEL_S]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[P_CANCEL_S]  
    @L_LABELID NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

	UPDATE CINVCUTLBL
	SET LABEL_TYPE = 'X'
	WHERE LABEL_TYPE ='A'
	  AND LABEL_ID = @L_LABELID
	;

	UPDATE CINVCUTLBH
	SET LABEL_TYPE = 'X'
	WHERE LABEL_STATUS ='A'
	  AND LABEL_ID = @L_LABELID
	;
    
END
GO
/****** Object:  StoredProcedure [dbo].[P_CREATEQR]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[P_CREATEQR]  
    @L_ORDER_ID NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @s_LABEL_ID NVARCHAR(50);

    -- ✅ Gán biến đúng cách
    SELECT @s_LABEL_ID = 
        'LYER' + CONVERT(VARCHAR(6), GETDATE(), 12) +
        RIGHT('0000' + CAST(
            ISNULL(MAX(CAST(SUBSTRING(LABEL_ID,11,4) AS INT)),0) + 1
        AS VARCHAR(4)), 4)
    FROM CINVCUTLBH
    WHERE FACTORY = 'VT'
    AND LABEL_ID LIKE 'LYER' + CONVERT(VARCHAR(6), GETDATE(), 12) + '%';

    -- ✅ Insert CINVCUTLBH
	 INSERT INTO CINVCUTLBH
    (
        FACTORY, LABEL_ID, LABEL_TYPE, PACK_QTY, PACK_UOM, MAT_ID, MAT_DESC
		, PRINT_COUNT, FIRST_PRINT_USERID, FIRST_PRINT_TIME, LABEL_STATUS
		, CREATE_USER_ID, CREATE_TIME, MAT_LAYER, LABEL_LOCATION
    )         
    SELECT FACTORY, LABEL_ID, LABEL_TYPE, PACK_QTY, PACK_UOM, MAT_ID, MAT_DESC, 
	   PRINT_COUNT, FIRST_PRINT_USERID, FIRST_PRINT_TIME, LABEL_STATUS, 
	   CREATE_USER_ID, CREATE_TIME, MAT_LAYER, LABEL_LOCATION 
   FROM (
        SELECT  A.FACTORY, @s_LABEL_ID LABEL_ID, 'LAYER AUTO CUTTING' LABEL_TYPE, MAX(PLAN_QTY*B.BOM_QTY) AS PACK_QTY, 'S/F' AS PACK_UOM,
			    ITEM_CODE AS MAT_ID, 'MAT_DESC' MAT_DESC, '1' AS PRINT_COUNT,
			   '22194805' AS FIRST_PRINT_USERID, CONVERT(VARCHAR(6), GETDATE(), 12) AS FIRST_PRINT_TIME,
			   'A' AS LABEL_STATUS, '22194805' AS CREATE_USER_ID,
			   CONVERT(VARCHAR(6), GETDATE(), 12) AS CREATE_TIME, '1' AS MAT_LAYER, 'SPREADING' AS LABEL_LOCATION
          FROM (SELECT FACTORY, ORDER_ID, PLAN_QTY, PLANT_ID AS "FCT"
				, OPERATION AS "VSM", ITEM_CD AS "LINE_CODE"
				, MAT_ID AS "OP", LINE_CD AS "MAT_ID"
				, WORK_DATE AS "ITEM_CODE", MODEL AS "WORK_DATE"
				, STYLE AS "MODEL", RES_ID AS "STYLE_NO"
				, PROD_TYPE, SSIZE, GENDER AS "SIZE", UOM AS "GENDER", PART AS "TYPE"
				, MACHINE_TYPE AS "PART_CODE", PART_NAME AS "PART_NAME"
				, ORD_CMF_3 AS "LAM", MAT_DESC
				FROM MWIPORDSTS A
				WHERE FACTORY ='VT'
				AND MODEL = '20251212'
				AND ORDER_ID IN (
									SELECT value FROM STRING_SPLIT(@L_ORDER_ID, ';')
								)
		 ) A
		 INNER JOIN (SELECT P_MAT_ID, C_MAT_ID, BOM_QTY, UNIT_CODE FROM CWIPORDBOM A GROUP BY P_MAT_ID, C_MAT_ID, BOM_QTY, UNIT_CODE) B ON A.MAT_ID = B.P_MAT_ID
	    GROUP BY ITEM_CODE, FACTORY
	) A1
		 ;

    -- ✅ Insert CINVCUTLBL
    INSERT INTO CINVCUTLBL
    (
        FACTORY, LABEL_ID,  LABEL_TYPE, ORDER_ID, PACK_QTY, PRINT_COUNT, FIRST_PRINT_USER, FIRST_PRINT_TIME,
        CREATE_USER_ID, CREATE_TIME, MAT_ID, OK_QTY, NG_QTY
    )
    SELECT 
        FACTORY,
        @s_LABEL_ID,
        'A',
        ORDER_ID,
        PLAN_QTY,
        1,
        '22194805',
        CONVERT(VARCHAR(6), GETDATE(), 12),
        '22194805',
        CONVERT(VARCHAR(6), GETDATE(), 12),
        WORK_DATE,
        PLAN_QTY,
        '0'
    FROM MWIPORDSTS
    WHERE ORDER_ID IN (
        SELECT value FROM STRING_SPLIT(@L_ORDER_ID, ';')
    );

END
GO
/****** Object:  StoredProcedure [dbo].[P_LASERCUT]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[P_LASERCUT]
			@S_ORDERID NVARCHAR(MAX),
            @S_MATID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OrderID NVARCHAR(50)
    DECLARE @OrderQty INT
    
    DECLARE @MatID NVARCHAR(50)
    DECLARE @MatQty INT
    
    DECLARE @AllocQty INT

    DECLARE OrderCursor CURSOR FOR
        SELECT ORDER_ID, PACK_QTY
        FROM CINVCUTLBL
		WHERE FACTORY = 'VT'
		AND ORDER_ID = @S_ORDERID
        ORDER BY ORDER_ID

    DECLARE MatCursor CURSOR FOR
        SELECT MAT_ID, QTY_1
        FROM MWIPMATDEF
		WHERE FACTORY = 'VT'
		AND LOT_DESC = @S_MATID
        ORDER BY MAT_ID

    OPEN OrderCursor
    OPEN MatCursor

    FETCH NEXT FROM MatCursor INTO @MatID, @MatQty
    FETCH NEXT FROM OrderCursor INTO @OrderID, @OrderQty

    WHILE @@FETCH_STATUS = 0
    BEGIN
        WHILE @OrderQty > 0
        BEGIN
            IF @MatQty = 0
            BEGIN
                FETCH NEXT FROM MatCursor INTO @MatID, @MatQty
                IF @@FETCH_STATUS <> 0 BREAK
            END

            SET @AllocQty = 
                CASE 
                    WHEN @MatQty >= @OrderQty THEN @OrderQty
                    ELSE @MatQty
                END

            -- ✅ Insert kết quả phân bổ
            INSERT INTO CWIPCUTPRD (ORDER_ID, MAT_ID, OK_QTY)
            VALUES (@OrderID, @MatID, @AllocQty)

            SET @OrderQty = @OrderQty - @AllocQty
            SET @MatQty = @MatQty - @AllocQty
        END

        FETCH NEXT FROM OrderCursor INTO @OrderID, @OrderQty
    END

    CLOSE OrderCursor
    CLOSE MatCursor
    DEALLOCATE OrderCursor
    DEALLOCATE MatCursor
END
GO
/****** Object:  StoredProcedure [dbo].[P_MAT_MAPPING_S]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[P_MAT_MAPPING_S]
            @MAT_ID NVARCHAR(MAX),
            @LABEL_ID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE MWIPMATDEF
    SET MAT_MAPPING = @LABEL_ID
    WHERE FACTORY = 'VT'
      AND LOT_DESC = @MAT_ID ;
      
      UPDATE CINVCUTLBL
    SET LABEL_TYPE = 'R'
    WHERE FACTORY = 'VT'
      AND LABEL_ID = @LABEL_ID ;
      
      UPDATE CINVCUTLBH
    SET LABEL_STATUS = 'R'
    WHERE FACTORY = 'VT'
      AND LABEL_ID = @LABEL_ID ;
      
END
GO
/****** Object:  StoredProcedure [dbo].[P_MATERIAL]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[P_MATERIAL]  -- <--- Thêm chữ dbo. cho chuẩn
AS
BEGIN
    SET NOCOUNT ON;
    
        SELECT [FACTORY] 
      ,[PLANT_ID] AS FCT
      ,[VSM]
      ,[LOT_ID]
      ,[LOT_DESC] MATERIAL
      ,[MAT_ID]
      ,[MAT_VER]
      ,[OPER]
      ,[QTY_1] QTY
      ,[LOT_TYPE]
      ,[LOT_STATUS] STATUS
      ,[CREATE_USER_ID]      ,[CREATE_TIME]
  FROM [dbo].[MWIPMATDEF]; 
END
GO
/****** Object:  StoredProcedure [dbo].[P_PRODUCTIONPLAN]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[P_PRODUCTIONPLAN]  -- <--- Thêm chữ dbo. cho chuẩn
AS
BEGIN
    SET NOCOUNT ON;
    
		WITH DATA AS (
		  SELECT A.FACTORY, A.ORDER_ID, PLAN_QTY, PLANT_ID AS "FCT", OPERATION AS "VSM", ITEM_CD AS "LINE_CODE"
				, A.MAT_ID AS "OP", LINE_CD AS "MAT_ID", WORK_DATE AS "ITEM_CODE", MODEL AS "WORK_DATE"
				, STYLE AS "MODEL", RES_ID AS "STYLE_NO", PROD_TYPE, SSIZE, GENDER AS "SIZE", UOM AS "GENDER"
				, PART AS "TYPE", MACHINE_TYPE AS "PART_CODE", PART_NAME AS "PART_NAME", ORD_CMF_3 AS "LAM" 
				, MAT_DESC, (A.PLAN_QTY - ISNULL(NULLIF(LTRIM(RTRIM(A1.PACK_QTY)), ''), 0)) QTY_REMAIN
				FROM MWIPORDSTS A
					 LEFT JOIN CINVCUTLBL A1 ON A.FACTORY = A1.FACTORY AND A.ORDER_ID = A1.ORDER_ID
				WHERE A.FACTORY ='VT'
				AND A.MODEL = '20251212'
		),
		BOM_DATA AS 
		(
			SELECT P_MAT_ID, C_MAT_ID, BOM_QTY, UNIT_CODE FROM CWIPORDBOM A GROUP BY P_MAT_ID, C_MAT_ID, BOM_QTY, UNIT_CODE
		)
		SELECT  A.ORDER_ID, PLAN_QTY, FCT, VSM, LINE_CODE, OP, A.MAT_ID, ITEM_CODE, WORK_DATE, MODEL, 
				STYLE_NO, PROD_TYPE, SSIZE, SIZE, GENDER, TYPE, PART_CODE, PART_NAME, LAM, 
				B.BOM_QTY AS "BOM_QTY", (B.BOM_QTY * PLAN_QTY) AS "NEED_MAT_QTY", QTY_REMAIN
		FROM DATA A
			 INNER JOIN BOM_DATA B ON A.MAT_ID = B.P_MAT_ID
	   WHERE 1=1
	   AND QTY_REMAIN <> '0'
	   ; 

END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTIONLASER]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PRODUCTIONLASER]
			--@S_ORDERID NVARCHAR(MAX),
            --@S_MATID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
			 WITH DATA_ORDER AS (
          SELECT A.FACTORY, A.ORDER_ID, PLAN_QTY AS QTY, PLANT_ID AS "FCT", OPERATION AS "VSM", ITEM_CD AS "LINE_CODE"
                , A.MAT_ID AS "OP", LINE_CD AS "MAT_ID", WORK_DATE AS "ITEM_CODE", MODEL AS "WORK_DATE", SUB_PLANT AS PLANT
                , STYLE AS "MODEL", RES_ID AS "STYLE_NO", PROD_TYPE, SSIZE, GENDER AS "SIZE", UOM AS "GENDER"
                , PART AS "PART_TYPE", MACHINE_TYPE AS "PART_CODE", PART_NAME AS "PART_NAME", ORD_CMF_3 AS "LAM" 
                , MAT_DESC, (A.PLAN_QTY - ISNULL(NULLIF(LTRIM(RTRIM(A1.PACK_QTY)), ''), 0)) QTY_REMAIN
                , CASE WHEN A1.PACK_QTY IS NULL THEN '0' ELSE A1.PACK_QTY END AS QTY_LASER
                , 'PLAN_QTY' AS TYPE
                FROM MWIPORDSTS A
                     LEFT JOIN CINVCUTLBL A1 ON A.FACTORY = A1.FACTORY AND A.ORDER_ID = A1.ORDER_ID
                WHERE A.FACTORY ='VT'
                AND A.MODEL = '20251212'
                UNION ALL
                SELECT A.FACTORY, A.ORDER_ID, CASE WHEN A1.PACK_QTY IS NULL THEN '0' ELSE A1.PACK_QTY END AS QTY
                , PLANT_ID AS "FCT", OPERATION AS "VSM", ITEM_CD AS "LINE_CODE"
                , A.MAT_ID AS "OP", LINE_CD AS "MAT_ID", WORK_DATE AS "ITEM_CODE", MODEL AS "WORK_DATE", SUB_PLANT AS PLANT
                , STYLE AS "MODEL", RES_ID AS "STYLE_NO", PROD_TYPE, SSIZE, GENDER AS "SIZE", UOM AS "GENDER"
                , PART AS "PART_TYPE", MACHINE_TYPE AS "PART_CODE", PART_NAME AS "PART_NAME", ORD_CMF_3 AS "LAM" 
                , MAT_DESC, (A.PLAN_QTY - ISNULL(NULLIF(LTRIM(RTRIM(A1.PACK_QTY)), ''), 0)) QTY_REMAIN
                , CASE WHEN A1.PACK_QTY IS NULL THEN '0' ELSE A1.PACK_QTY END AS QTY_LASER
                , 'LAYER_QTY' AS TYPE
                FROM MWIPORDSTS A
                     LEFT JOIN CINVCUTLBL A1 ON A.FACTORY = A1.FACTORY AND A.ORDER_ID = A1.ORDER_ID
                WHERE A.FACTORY ='VT'
                AND A.MODEL = '20251212'
                UNION ALL
                SELECT A.FACTORY, A.ORDER_ID, CASE WHEN A1.OK_QTY IS NULL THEN '0' ELSE A1.OK_QTY END AS QTY
                , A.PLANT_ID AS "FCT", OPERATION AS "VSM", ITEM_CD AS "LINE_CODE"
                , A.MAT_ID AS "OP", LINE_CD AS "MAT_ID", A.WORK_DATE AS "ITEM_CODE", MODEL AS "WORK_DATE", A.SUB_PLANT AS PLANT
                , STYLE AS "MODEL", A.RES_ID AS "STYLE_NO", A.PROD_TYPE, SSIZE, GENDER AS "SIZE", UOM AS "GENDER"
                , PART AS "PART_TYPE", MACHINE_TYPE AS "PART_CODE", PART_NAME AS "PART_NAME", ORD_CMF_3 AS "LAM" 
                , MAT_DESC, (A.PLAN_QTY - ISNULL(NULLIF(LTRIM(RTRIM(A1.OK_QTY)), ''), 0)) QTY_REMAIN
                , CASE WHEN A1.OK_QTY IS NULL THEN '0' ELSE A1.OK_QTY END AS QTY_LASER
                , 'PROD_QTY' AS TYPE
                FROM MWIPORDSTS A
                     LEFT JOIN CWIPCUTPRD A1 ON A.FACTORY = A1.FACTORY AND A.ORDER_ID = A1.ORDER_ID
                WHERE A.FACTORY ='VT'
                AND A.MODEL = '20251212'
        )
    SELECT FACTORY,  FCT, PLANT, VSM, WORK_DATE, STYLE_NO, MODEL, PART_CODE, PART_NAME, GENDER, TYPE,
       SUM(QTY) QTY_TOTAL,
       SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '01M' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '10T' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '02M' THEN QTY ELSE 0 END) AS SIZE01M               
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '01T' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '03M' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '11M' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '02T' THEN QTY ELSE 0 END) AS SIZE01T                
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '02M' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '03T' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '11T' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '03M' THEN QTY ELSE 0 END) AS SIZE02M                
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '02T' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '04M' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '12M' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '03T' THEN QTY ELSE 0 END) AS SIZE02T                
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '03M' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '04T' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '12T' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '04M' THEN QTY ELSE 0 END) AS SIZE03M                
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '03T' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '05M' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '13M' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '04T' THEN QTY ELSE 0 END) AS SIZE03T               
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '04M' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '05T' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '13T' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '05M' THEN QTY ELSE 0 END) AS SIZE04M               
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '04T' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '06M' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '01M' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '05T' THEN QTY ELSE 0 END) AS SIZE04T                
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '05M' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '06T' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '01T' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '06M' THEN QTY ELSE 0 END) AS SIZE05M              
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '05T' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '07M' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '02M' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '06T' THEN QTY ELSE 0 END) AS SIZE05T               
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '06M' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '07T' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '02T' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '07M' THEN QTY ELSE 0 END) AS SIZE06M               
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '06T' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '08M' THEN QTY 
                WHEN GENDER = 'PS'          AND SIZE = '03M' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '07T' THEN QTY ELSE 0 END) AS SIZE06T
     -- SIZE 07M VÀ 07T (Có 3 điều kiện: ME/GS, WO, TD)
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '07M' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '08T' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '08M' THEN QTY ELSE 0 END) AS SIZE07M               
     , SUM(CASE WHEN GENDER IN ('ME', 'GS') AND SIZE = '07T' THEN QTY 
                WHEN GENDER = 'WO'          AND SIZE = '09M' THEN QTY 
                WHEN GENDER = 'TD'          AND SIZE = '08T' THEN QTY ELSE 0 END) AS SIZE07T
     -- SIZE 08M ĐẾN 09M (Có 3 điều kiện: ME, WO, TD)
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '08M' THEN QTY 
                WHEN GENDER = 'WO' AND SIZE = '09T' THEN QTY 
                WHEN GENDER = 'TD' AND SIZE = '09M' THEN QTY ELSE 0 END) AS SIZE08M              
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '08T' THEN QTY 
                WHEN GENDER = 'WO' AND SIZE = '10M' THEN QTY 
                WHEN GENDER = 'TD' AND SIZE = '09T' THEN QTY ELSE 0 END) AS SIZE08T               
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '09M' THEN QTY 
                WHEN GENDER = 'WO' AND SIZE = '10T' THEN QTY 
                WHEN GENDER = 'TD' AND SIZE = '10M' THEN QTY ELSE 0 END) AS SIZE09M
     -- SIZE 09T ĐẾN 15M (Có 2 điều kiện: ME, WO)
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '09T' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '11M' THEN QTY ELSE 0 END) AS SIZE09T
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '10M' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '11T' THEN QTY ELSE 0 END) AS SIZE10M
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '10T' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '12M' THEN QTY ELSE 0 END) AS SIZE10T
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '11M' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '12T' THEN QTY ELSE 0 END) AS SIZE11M
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '11T' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '13M' THEN QTY ELSE 0 END) AS SIZE11T
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '12M' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '13T' THEN QTY ELSE 0 END) AS SIZE12M
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '12T' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '14M' THEN QTY ELSE 0 END) AS SIZE12T
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '13M' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '14T' THEN QTY ELSE 0 END) AS SIZE13M
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '13T' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '15M' THEN QTY ELSE 0 END) AS SIZE13T
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '14M' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '15T' THEN QTY ELSE 0 END) AS SIZE14M
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '14T' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '16M' THEN QTY ELSE 0 END) AS SIZE14T
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '15M' THEN QTY WHEN GENDER = 'WO' AND SSIZE = '16T' THEN QTY ELSE 0 END) AS SIZE15M
     -- TỪ SIZE 15T ĐẾN 22M (Chỉ có 1 điều kiện: ME)
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '15T' THEN QTY ELSE 0 END) AS SIZE15T
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '16M' THEN QTY ELSE 0 END) AS SIZE16M
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '16T' THEN QTY ELSE 0 END) AS SIZE16T
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '17M' THEN QTY ELSE 0 END) AS SIZE17M
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '17T' THEN QTY ELSE 0 END) AS SIZE17T
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '18M' THEN QTY ELSE 0 END) AS SIZE18M
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '19M' THEN QTY ELSE 0 END) AS SIZE19M
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '20M' THEN QTY ELSE 0 END) AS SIZE20M
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '21M' THEN QTY ELSE 0 END) AS SIZE21M
     , SUM(CASE WHEN GENDER = 'ME' AND SIZE = '22M' THEN QTY ELSE 0 END) AS SIZE22M
    FROM DATA_ORDER
    GROUP BY FACTORY,  FCT, PLANT, VSM, WORK_DATE, STYLE_NO, MODEL, PART_CODE, PART_NAME, GENDER, TYPE
	;

END
GO
/****** Object:  StoredProcedure [dbo].[REPRINT]    Script Date: 5/16/2026 7:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[REPRINT]  -- <--- Thêm chữ dbo. cho chuẩn
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT A.[FACTORY]
      ,A.[LABEL_ID] QR_CODE
      ,A.[LABEL_TYPE]
      ,A.[PACK_QTY] QTY -- MATERRIAL QTY
      ,A.[PACK_UOM]
      ,A.[MAT_ID] MATERIAL
      ,A.[MAT_DESC]
      ,A.[PRINT_COUNT]
      ,A.[FIRST_PRINT_USERID]
      ,A.[FIRST_PRINT_TIME]
      ,A.[LABEL_STATUS]
      ,A.[CREATE_USER_ID]
      ,A.[CREATE_TIME]
      ,A.[MAT_LAYER] LAYER
      ,A.[LABEL_LOCATION]
	  ,B.ORDER_ID
	  ,C.PLANT_ID AS "FCT"
	  ,C.SUB_PLANT AS "PLANT"
	  ,C.OPERATION AS "VSM"
	  ,C.MODEL AS "WORK_DATE"
	  ,C.STYLE AS "MODEL"
	  ,C.RES_ID AS "STYLE_NO"
	  ,C.PROD_TYPE
	  ,C.SSIZE
	  ,C.GENDER AS "SIZE"
	  ,C.UOM AS "GENDER"
	  ,C.PART AS "TYPE"
	  ,C.MACHINE_TYPE AS "PART_CODE"
	  ,C.PART_NAME AS "PART_NAME"
	  ,C.ORD_CMF_3 AS "LAM" 
FROM CINVCUTLBH A
	 INNER JOIN CINVCUTLBL B ON A.FACTORY =B.FACTORY AND A.LABEL_ID = B.LABEL_ID
	 INNER JOIN MWIPORDSTS C ON B.FACTORY =C.FACTORY AND B.ORDER_ID = C.ORDER_ID
	 ; 
END
GO
USE [master]
GO
